[user]
    name = Ka1kai
    email = hal.game.mail@gmail.com
[color]
    ui = auto
[core]
    autocrlf = false
	excludesfile = /home/tkawashita/.gitignore
	editor = vim -c \"set fenc=utf-8\"

[alias]
    co = checkout
    br = branch
    st = status
    df = diff
    ds = diff --staged
    topic = "!sh -c 'git co -b $1 master' dummy" 
    dfx = !git diff | gitx
	tree = log --decorate --graph --oneline
    pr = pull --rebase origin master
    fe = fetch
    unstage = reset HEAD --
    k = !gitk
    dhh = diff HEAD^
[credential]
	helper = cache
	helper = cache
[init]
	templatedir = .git_tmp
